/*
added a ref-indent class to add to text put in the references so
first line is indented
*/

.ref-indent {
    text-indent:30px;
}

.subsection {
	margin-left: 20px;
}

.content-table a {
  color: blue;
  background-color: transparent;
    text-decoration: none;
}

.content-table a:hover {
    color: lightgray;
}

/*
the way I am adding images is the following:

<div class="img-center">
  <figure>
    <img src="example_img.png">
    <figcaption> Example Text </figcaption>
  </figure>
</div>
*/

.img-center {
display: flex;
justify-content: center;
}

.img-center img {
	width: 100%;
	height: auto;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: 12px;
}

.container2 {
	display: flex;
	justify-content: center;
}

.container2 figure{
	max-width: 50%;
	height: auto;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
}

.container2 img {
	width: 80%;
	height: auto;
	margin: auto;
}

.container3 {
	display: flex;
	justify-content: center;
}

.container3 figure{
	max-width: 33%;
	height: auto;
	margin-left: 2%;
	margin-right: 2%;
	font-size: 12px;
	text-align: center;
}

.container3 img {
	width: 80%;
	height: auto;
	margin: auto;
}

body {
	font-family: "Helvetica", Sans-Serif;
    width: 100%;
	max-width: 960px;
	margin: 0 auto;
	margin-top: 10px;
}

.title_container {
	background-color: #c5050c;
	width: 100%;
	height: auto;
}

.title_container div {
    display: inline-block;
    vertical-align: middle;
}

.title_container a {
    padding-left: 30px;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.title_container a {
  color: white;
  background-color: transparent;
}

.title_container a:hover {
    color: gray;
}

#crest {
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
    width: auto;
	height: 60px;
}