/*
added a ref-indent class to add to text put in the references so
first line is indented
*/

.ref-indent {
    text-indent:30px;
}

.subsection {
	margin-left: 20px;
}

/*
the way I am adding images is the following:

<div class="img-center">
  <figure>
    <img src="example_img.png">
    <figcaption> Example Text </figcaption>
  </figure>
</div>
*/

.img-center {
display: flex;
justify-content: center;
}

.img-center img {
	width: 100%;
	height: auto;
}

figcaption {
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.container {
	display: flex;
	justify-content: center;
}

.container figure{
	max-width: 50%;
	height: auto;
	margin-left: 2%;
	margin-right: 2%;
	text-align: center;
}

.container img {
	width: 80%;
	height: auto;
	margin: auto;
}
